# Dependencies
node_modules/
frontend/node_modules/

# Production Build
dist/
frontend/dist/

# Configuration and Database
.env
sqlite.db
dashboardfincheck-firebase-adminsdk-fbsvc-d912e68599.json
.firebase/
firebase-debug.log*

# OS specific
.DS_Store
Thumbs.db
